.opciones-form{
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.opciones-form label{
    display: block;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}

.opciones-form select{
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px ;
    border: none;
    font-size: 16px;
    color: #A4A4A4;
    padding: 30px 20px;
    outline-color: #6278F7;
}